
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body{
 overflow-x: hidden;
}
.row {
    width: 100%;
    margin: 0;
    padding: 0;
}
.about-us-icon {
    width: 35px;
}
.section-container {
    padding: 65px 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar {
    margin: 0;
    padding: 0;
    border-radius: 0px !important;
    height: 60px;
    font-family: 'LemonMilk', sans-serif;
    font-weight: 400;
    transition: all 0.5s;
    z-index: 1;
    width: 100vw;
}
.navbar-nav {
    margin-top: -2px;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
.navbar-nav .nav-link {
    color: #ffffff !important;
    transition: all 0.5s;
    font-size: 12px;
}
.navbar-nav .nav-link-social {
    color: #ffffff !important;
    padding-left: 8px;
    margin-top: 4px;
    font-size: 12px;
}
.nav-change-bg {
    background-color: #fff;
    box-shadow: 0px 0px 10px #111;
    transition: all 0.5s;
}
.nav-change-bg .navbar-nav .nav-link {
      color: #111 !important;
 }
.nav-change-bg .navbar-nav .nav-link-social {
     color: #111 !important;
}

.navbar-nav .nav-link.active {
    background-color: #0163AC !important;
    color: #ffffff !important;
    transition: all 0.5s;
}


.navbar-nav .nav-link:hover {
    background-color: #0163AC;
    color: #ffffff !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* menu icon css*/
.bar-icon-container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 28px;
    height: 4px;
    margin: 4px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate( -45deg ) translate(-5px, 4px);
    transform: rotate( -45deg ) translate(-5px, 4px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate( 45deg ) translate(-7px, -7px);
    transform: rotate( 45deg ) translate(-7px, -7px);
}

.navbar-light .navbar-toggler {
    border: none;
}


.primary-text {
    font-weight: 700;
    color: #05323D;
    font-family: 'LemonMilk', sans-serif;
}

.secondary-text {
    color: #05323D;
    font-family: 'LemonMilk', sans-serif;
    font-weight: 300;
}
.text-description {
    color: #05323D;
    margin-left: 50px;
    margin-top: 20px;
}


.primary-btn > i {
    width: 0;
    visibility: hidden;
    opacity: 0;
    margin-left: 3px;
    transition: all 0.3s;
}

.primary-btn:hover > i {
    width: 20px;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
}

.primary-btn-inv {
    border-color: #05323D !important;
    border: solid 2px;
    padding: 5px 20px;
    color: #05323D;
    transition: all 0.3s;
}
    .primary-btn-inv:hover {
        background-color: #0056b3 !important;
        border: solid 2px #0056b3 !important;
        padding: 5px 20px;
        color: #ffffff !important;
        transition: all 0.3s;
        cursor: pointer;
        text-decoration: none;
    }
    .primary-btn-inv > i {
        width: 0;
        visibility: hidden;
        opacity: 0;
        margin-left: 3px;
        transition: all 0.3s;
    }
    .primary-btn-inv:hover > i {
        width: 10px;
        visibility: visible;
        opacity: 1;
        transition: all 0.3s;
    }
.bg-grey {
    background-color: #ebebeb;
}
.no-margin {
    margin:0px;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    border-radius: 0px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.footer {
    height: 65px;
    padding: 18px 0;
    background-color: #05323D;
    color: #fff;
}

.footer-icon {
    padding: 9px;
    font-size: 15px;
    width: 34px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.slide-up-btn {
    background-color: #fff;
    color: #05323D !important;
    padding: 3px 9px 6px;
    border-radius: 50%;
    font-size: 16px;
    margin-right: 10px;

}
.footer-icon:hover {
    opacity: 0.7;
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
/**slick slider style*/
.slider-container {
    max-width: 100vw;
    width: 100%;
    overflow: hidden;
}

button.slick-prev.slick-arrow {
    background-color: #0056b3;
    border-radius: 50%;
    padding: 2px 2px 0;
    width: 25px;
    height: 25px;
    font-size: 0px;
    color: white;
}
button.slick-next.slick-arrow {
    background-color: #0056b3;
    border-radius: 50%;
    padding: 2px 2px 0;
    width: 25px;
    height: 25px;
    font-size: 0px;
    color: white;
}
.slick-slide {
    padding: 5px;
    font-size: 14px;
}
.slick-prev:before {
    content: "<";
    font-size: 18px;
}

.slick-next:before {
    content: ">";
    font-size: 18px;
}
.slick-dots li {
    margin: 0;
}

    .slick-dots li button:before {
        width: 12px;
        height: 12px;
        padding: 0px;
        border: 1px solid #0056b3;
        border-radius: 50%;
        opacity: 1;
        transition: all 1s;
    }
    .slick-dots li.slick-active button:before {
        width: 12px;
        height: 12px;
        padding: 0px;
        border-radius: 50%;
        background-color: #0056b3;
        opacity: 1;
        transition: all 1s;
    }
    .slick-dots li button:before {
        color:transparent;
    }
    /*loader style*/
    .loader-overlay {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #fff;
        z-index: 99999;
    }
.loader {
  position: absolute;
  left: 45%;
  top: 45%;
  width: 50px;
  height: 50px;
  transform: translate(50% 50%);
  color:#3498db ;
}

  /*Slide From Left to Right Animation On scroll*/
  .slideAnimLeft {visibility:hidden;}
  .slideLeft {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  /*Slide From Right to Left Animation On scroll*/
.slideAnimRight {visibility:hidden;}
.slideRight {
    position: relative;
    animation-name: slideRight;
    -webkit-animation-name: slideRight;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
   /*Slide From Up Animation On scroll*/
  .slideAnimUp {visibility:hidden;}
  .slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
/*pop animation*/
.popAnim {
    visibility: hidden;
}
.pop-1 {
    animation-name: pop;
    -webkit-animation-name: pop;
    animation-duration: 1s;
    animation-delay: 0.1s;
    visibility: visible;
}
.pop-2 {
  animation-name: pop;
   -webkit-animation-name: pop;
    animation-duration: 1s;
    animation-delay: 0.4s;
     visibility: visible;
}
.pop-3 {
  animation-name: pop;
   -webkit-animation-name: pop;
    animation-duration: 1s;
    animation-delay: 0.7s;
     visibility: visible;
}
.pop-4 {
  animation-name: pop;
   -webkit-animation-name: pop;
    animation-duration: 1s;
    animation-delay: 1s;
     visibility: visible;
}

/* Modal Content */
.modal-content{
	border-radius: 0;
}
.modal-body .modal-button{
  margin-top: -15px;
}
.modal-body .modal-image{
  width: 100%;
}
.modal-body .modal-caption{
  text-align: center;
  margin: 0;
  font-weight: bold;
}
.modal-content, .modal-caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/*Add fixed button style*/
.slide-up-button {
    position: fixed;
    right: -40px;
    bottom: 40px;
    transition: all 0.8s;
    border: 1px solid #05323D;
    padding: 3px 6px;
    box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 10%);
    color: #05323D;
    background-color: rgba(255,255,255,0.5);
    font-weight: 700;
}
.slide-up-button:hover {
    transition: all 0.8s;
    color: #FFF;
    background-color: #05323D;
}
.slide-up-button.scrolled{
    right: 40px;
    transition: all 0.8s;
}
