<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Experimental</title>
    <link rel="stylesheet" href="~/css/experimental.css" />
    <!--
        Material Design Lite
    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.amber-orange.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--Mobile Compatibility-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
